{% extends "agricultural_officer/officer_base.html" %}

{% block title %}Products - GreenGrid{% endblock %}

{% block page_title %}Products{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Products</h3>
                            <div class="card-tools">
                                <a href="/agricultural-officer/products/create" class="btn btn-primary">
                                    <i class="fas fa-plus"></i> Add New Product
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="productTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Product Name</th>
                                            <th>Category</th>
                                            <th>Price Per Unit</th>
                                            <th>Unit</th>
                                            <th>Seasonality</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                        <tr>
                                            <td>{{ product[0] }}</td>
                                            <td>{{ product[1] }}</td>
                                            <td>{{ product[2] }}</td>
                                            <td>{{ product[3] }}</td>
                                            <td>{{ product[4] }}</td>
                                            <td>{{ product[5] }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="/agricultural-officer/products/edit/{{ product[0] }}" class="btn btn-sm btn-info mr-1">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="/agricultural-officer/products/delete/{{ product[0] }}" class="btn btn-sm btn-danger" 
                                                    onclick="return confirm('Are you sure?')">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
$(document).ready(function() {
    $('#productTable').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
        "ordering": false,
        "scrollX": true,
        "scrollCollapse": true,
        "autoWidth": false,
        "responsive": false,
        "dom": 't'
    });
});
</script>
{% endblock %}