/* styles.css */
body {
    background-color: #c5d8ca56; /* Light gray background */
}

.sidebar {
    height: 100vh; /* Full-height sidebar */
    background-color: #c1dbbcb0; /* White sidebar background */
}

.custom-navbar {
    background-color: #3d8a56; /* Custom navbar color */
}

.custom-heading {
    color: #054b16; /* Success color for headings */
}

.sidebar-title {
    font-size: 1.5rem; /* Adjusts font size */
    font-weight: bold; /* Makes the text bold */
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 90px; /* Space between text and arrow */
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #054b16; 
  }

  .nav-link {
    color: #000; /* Change this to your desired color */
}

.nav-link:hover {
    color: #3d8a56; /* Optional: Change color on hover */
}

/* Custom styles for the search button */
.custom-search-button {
    background-color: #ff000d; /* Change this to your desired color */
    color: #fff; /* Change this to your desired text color */
}

.custom-search-button:hover {
    background-color: #0056b3; /* Change this to a darker shade for hover effect */
    color: #fff; /* Keep text color white or change as needed */
}

  

