{% extends "retail_shop/shop_base.html" %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Orders</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- Add your orders content here -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Order List</h3>
                </div>
                <div class="card-body">
                    <!-- You can add a table or other content for orders here -->
                    <p>Orders will be displayed here</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
